*{
 font-family: 'Abel', sans-serif;
 margin:0;
 padding:0;
 /* font-family: 'Open Sans Condensed', sans-serif;
 font-family: 'Dosis', sans-serif; */
}
h1{text-align:center;
 color:#47443d;}
body{
 background:lightgray;
 /* background:url(symbol.svg#gradient1); doesn't work */
}

.icons{
 fill:dimgray;
 width:100%;
 height:auto;
 /* border:1px solid black; */
}
ul, li{list-style:none;}
ul{display:flex;
 justify-content:space-between;
}
a{text-decoration:none;
color:inherit;}
a:hover .icons{
 fill:url(../symbol.svg#gradient1);
}

footer{
  position:absolute;
  bottom:4%;
  left:50%;
  margin-left:-2%;
  /* display:flex;
  justify-content:center; */
}
