
<p>submit areacode here!</p>
<form class="" action="/data" method="post">
    <input type="text" name="areacode" value="">
    <input type="submit" name="" value="submit">
</form>

{{#if areacode}}
  <p>{{areacode}}</p>
{{/if}}

<a href="/mydata">mydata</a>
