

<div class="">
  <h1>Register and log-in to experience 'Most Common Words' app.</h1>
  <h1>Else, go to <i>Portfolio<i> to check out other works!</h1>

  {{#if user}}
      <a href="/portfolio">Portfolio</a>
      <a href="/summary">Most Common Words</a>
  {{else}}
  <!-- comment these out lator -->
      <a href="/portfolio">Portfolio</a>
  {{/if}}
</div>
