<h1>Home</h1>


{{#if user}}
    <a href="/gallery">gallery</a>
    <a href="/summary">summary</a>
{{else}}
<!-- comment these out lator -->
    <a href="/gallery">gallery</a>
    <a href="/summary">summary</a>
{{/if}}
