<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>











    <div class='three_column'>
      <div class='col-1'>
        {{{body}}}

      </div>
      <div class='col-2'>

        <div class="">
          <ul id='navigation'>
              <li><a href="/">Home</a></li>
              <li><a href="/gallery">Gallery</a></li>
              <li><a href="/summary">Summary</a></li>
              <li>Wave Generator</li>
              <li>VR</li>
              <li>AR</li>
              <li>2d/3d Game</li>

          </ul>
        </div>
      </div>
      <div class='col-3'>

          {{#if user}}
          <div class="">
            <h3>Logged in : {{user.username}}</h3>
            <a href="/logout">logout</a>
          </div>


          {{else}}
          <div class="">
            <a href="/login">Login</a>
            <br>
            <a href="/register">Register</a>
          </div>


          {{/if}}
          {{#if message}}
              <div class="">{{message}}</div>
          {{/if}}
      </div>
  </div>

    <script src="/js/script.js" charset="utf-8"></script>



      <script type="text/javascript">
    // textContent.nodeType = 1, means that Node.ELEMENT_NODE
    // 3, means Node.TEXT_NODE

        document.addEventListener('DOMContentLoaded', function() {
          const lists = document.querySelector('.lists');
          let textContent = document.getElementById('textContent');
          let textContents = textContent.childNodes[0].nodeValue;


          let textContentVisible = document.getElementById('textContentVisible');

          // console.log(textContents)
          let splitText = textContents.split(' ');
          //whats that thing called space removing

          splitText.forEach(each => {
            // console.log(each);
            let node = document.createElement('span');
            let text = document.createTextNode(each + ' ');
            node.appendChild(text)

            node.setAttribute('class', each);

            node.addEventListener('mouseover', function hovered(evt){

              let all = document.getElementsByClassName(each);
              for (let i = 0; i < all.length; i++) {
                all[i].style.backgroundColor = 'coral';
              }
            });

            node.addEventListener('mouseout', function hovered(evt){

              let all = document.getElementsByClassName(each);
              for (let i = 0; i < all.length; i++) {
                all[i].style.backgroundColor = 'inherit';
              }
            });


            // function createClass(name,rules){
            //     var style = document.createElement('style');
            //     style.type = 'text/css';
            //     document.getElementsByTagName('head')[0].appendChild(style);
            //     if(!(style.sheet||{}).insertRule)
            //         (style.styleSheet || style.sheet).addRule(name, rules);
            //     else
            //         style.sheet.insertRule(name+"{"+rules+"}",0);
            // }
            // createClass(`.${each}`,"background-color: green;");

            // console.log(node);
              textContentVisible.appendChild(node);

          });

        //
        //   const face = document.querySelector('#face');
        // face.addEventListener('click', function clicked(evt){
        //     this.classList.toggle('dizzy');
        // });

          //toggle class
          // if hovered, attach class - // class hover attribute - color

          // console.log(splitText);
          // let

          // textArr = textContents.split(' ')
          // if ('Harry'. textContents){
          //   console.log('in')
          // }

          let lists_left = document.querySelectorAll('.left')
          console.log(lists_left[0].nodeType);
    // div.classList.add("anotherclass");
          lists_left.forEach((each)=>{
            each.classList.add(each.textContent.toLowerCase() )

            each.addEventListener('mouseover', (evt) => {
              let all = document.getElementsByClassName(each.textContent.toLowerCase());
              for (let i = 0; i < all.length; i++) {
                all[i].style.backgroundColor = 'coral';
              }
            });
            each.addEventListener('mouseout', (evt) => {
              let all = document.getElementsByClassName(each.textContent.toLowerCase());
              for (let i = 0; i < all.length; i++) {
                all[i].style.backgroundColor = 'inherit';
              }
            });
          })



          // lists_left[0].classList.add(lists_left[0].textContent.toLowerCase() )
        });

      </script>
  </body>
</html>
