
<div class="">
  <h1>login page</h1>

  {{#if message}}
    <div class="">
        <p>{{message}}</p>
    </div>
  {{/if}}

  <form method="POST" action="/login">
      username: <input name="username" type="text">
      password: <input name="password" type="password">
      <input type="submit" value="login">
  </form>

</div>
