<h1>Let's pick out the keywords!</h1>

<div class="">

  <form class="" action="/summary" method="POST">


    <div class="field_box">
      <label for="name">Title</label>
      <input class="field_input"
              type="name"
              name="name"
              placeholder="Text Title"

              >
    </div>


    <div class="field_box">
      <label for="text">Insert Text</label>
      <input class="field_input"
              type="text"
              name="text"
              placeholder="Enter Text"
              
            >
    </div>


    <div class="register">
      <button class="register_btn"
              type="button"
              name="button">
              Submit
      </button>
    </div>


  </form>
</div>
