
<style media="screen">
  .left {
    width: 100px;
    height:25;
    display:inline-block;
    background-color:darkgrey;
    text-align: center;
  }
  .right {
    width: 100px;
    height:25;
    display:inline-block;
    background-color:lightgray;
    text-align: center;
  }
  #summaryContainer{
    width: 100%;
    display:flex;


  }
  .lists{
    width:30%;
    background-color:lightgray;
    overflow-y:scroll;
    height:100vh;
  }
  .textContainer{
    width:70%;
  }
</style>

{{#if summary}}
  <div id="summaryContainer">
    <div class="textContainer">
              <div class="title">


                  <h2>Here is the list of the words from your text</h2>

                  <h3>Text Title: {{summary.name}}</h3>

              </div>

              <div id="textContent" style ="display:none;">
                {{summary.text}}
              </div>
              <div id="textContentVisible">

              </div>
    </div>

    <div class="lists">

                <ul>
                    {{#each summary.decodedText as |word|}}

                      <li><span class="left">{{word.[0]}}</span><span class="right">{{word.[1]}}</span></li>

                    {{/each}}
                </ul>
    </div>
  </div>




  <script type="text/javascript">
// textContent.nodeType = 1, means that Node.ELEMENT_NODE
// 3, means Node.TEXT_NODE

    document.addEventListener('DOMContentLoaded', function() {
      const lists = document.querySelector('.lists');
      let textContent = document.getElementById('textContent');
      let textContents = textContent.childNodes[0].nodeValue;


      let textContentVisible = document.getElementById('textContentVisible');

      // console.log(textContents)
      let splitText = textContents.split(' ');
      //whats that thing called space removing

      splitText.forEach(each => {
        // console.log(each);
        let node = document.createElement('span');
        let text = document.createTextNode(each + ' ');
        node.appendChild(text)

        node.setAttribute('class', each);

        node.addEventListener('mouseover', function hovered(evt){

          let all = document.getElementsByClassName(each);
          for (let i = 0; i < all.length; i++) {
            all[i].style.backgroundColor = 'coral';
          }
        });

        node.addEventListener('mouseout', function hovered(evt){

          let all = document.getElementsByClassName(each);
          for (let i = 0; i < all.length; i++) {
            all[i].style.backgroundColor = 'inherit';
          }
        });


        // function createClass(name,rules){
        //     var style = document.createElement('style');
        //     style.type = 'text/css';
        //     document.getElementsByTagName('head')[0].appendChild(style);
        //     if(!(style.sheet||{}).insertRule)
        //         (style.styleSheet || style.sheet).addRule(name, rules);
        //     else
        //         style.sheet.insertRule(name+"{"+rules+"}",0);
        // }
        // createClass(`.${each}`,"background-color: green;");

        // console.log(node);
          textContentVisible.appendChild(node);

      });

    //
    //   const face = document.querySelector('#face');
    // face.addEventListener('click', function clicked(evt){
    //     this.classList.toggle('dizzy');
    // });

      //toggle class
      // if hovered, attach class - // class hover attribute - color

      // console.log(splitText);
      // let

      // textArr = textContents.split(' ')
      // if ('Harry'. textContents){
      //   console.log('in')
      // }

      let lists_left = document.querySelectorAll('.left')
      console.log(lists_left[0].nodeType);
// div.classList.add("anotherclass");
      lists_left.forEach((each)=>{
        each.classList.add(each.textContent.toLowerCase() )

        each.addEventListener('mouseover', (evt) => {
          let all = document.getElementsByClassName(each.textContent.toLowerCase());
          for (let i = 0; i < all.length; i++) {
            all[i].style.backgroundColor = 'coral';
          }
        });
        each.addEventListener('mouseout', (evt) => {
          let all = document.getElementsByClassName(each.textContent.toLowerCase());
          for (let i = 0; i < all.length; i++) {
            all[i].style.backgroundColor = 'inherit';
          }
        });
      })



      // lists_left[0].classList.add(lists_left[0].textContent.toLowerCase() )
    });

  </script>
{{/if}}
