

<div class="">
  <h1>Copy and Paste Your Text Here!!!</h1>

  <form class="" action="/summary" method="POST">


    <div class="field_box">
      <label for="name">Title</label>
      <input class="field_input"
              type="name"
              name="name"
              placeholder="Text Title"
              id='textTitle'

              >
    </div>


    <div class="field_box">
      <label for="text">Insert Text</label>
      <input class="field_input"
              type="text"
              name="text"
              placeholder="Enter Text"
              id='textBox'
            >
    </div>


    <div class="register field_box">
      <label for=""></label>
      <input type="submit" name="button" value="submit">
    </div>


  </form>
</div>
